# Constraints for Papilio Pro
NET LED_0 LOC = "P119" | IOSTANDARD=LVTTL;
NET LED_1 LOC = "P120" | IOSTANDARD=LVTTL;
NET LED_2 LOC = "P121" | IOSTANDARD=LVTTL;
NET LED_3 LOC = "P123" | IOSTANDARD=LVTTL;

NET LED_4 LOC = "P124" | IOSTANDARD=LVTTL;
NET LED_5 LOC = "P126" | IOSTANDARD=LVTTL;
NET LED_6 LOC = "P127" | IOSTANDARD=LVTTL;
NET LED_7 LOC = "P131" | IOSTANDARD=LVTTL;
NET LED_8 LOC = "P132" | IOSTANDARD=LVTTL;
NET LED_9 LOC = "P133" | IOSTANDARD=LVTTL;
NET LED_10 LOC = "P134" | IOSTANDARD=LVTTL;

#DAC1
NET DAC1_CS LOC = "P47" | IOSTANDARD=LVTTL;
NET DAC1_SCK LOC = "P50" | IOSTANDARD=LVTTL;
NET DAC1_SDI LOC = "P55" | IOSTANDARD=LVTTL;
NET DAC1_LDAC LOC = "P57" | IOSTANDARD=LVTTL;
NET DAC1_SHDN LOC = "P56" | IOSTANDARD=LVTTL;

#DAC2
NET DAC2_CS LOC = "P83" | IOSTANDARD=LVTTL;
NET DAC2_SCK LOC = "P87" | IOSTANDARD=LVTTL;
NET DAC2_SDI LOC = "P88" | IOSTANDARD=LVTTL;
NET DAC2_LDAC LOC = "P85" | IOSTANDARD=LVTTL;
NET DAC2_SHDN LOC = "P84" | IOSTANDARD=LVTTL;

#ADC1
NET ADC1_CONV LOC = "P118" | IOSTANDARD=LVTTL;
NET ADC1_DATA LOC = "P117" | IOSTANDARD=LVTTL;
NET ADC1_CLK LOC = "P116" | IOSTANDARD=LVTTL;

#ADC2
NET ADC2_CONV LOC = "P82" | IOSTANDARD=LVTTL;
NET ADC2_DATA LOC = "P80" | IOSTANDARD=LVTTL;
NET ADC2_CLK LOC = "P78" | IOSTANDARD=LVTTL;

#RS_232
NET RX LOC="P105" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # RX
NET TX LOC="P101" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # TX

#clock signal
NET "clk" LOC = "P94" | IOSTANDARD = LVCMOS25 | PERIOD=31.25ns;